.page {
  background-color: #000000;
  width: 100%;
  min-width: 320px;
  font-family: 'Inter';
  display: flex;
  justify-content: center;
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
}
