.profile__description {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  margin: 8px 0 0 0;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 80%;
}

@media screen and (max-width: 767px) {
  .profile__description {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin: 0 0 35px;
    max-width: 100%;
  }
}
