.profile__edit-button {
  width: 24px;
  height: 24px;
  border: 1px solid #ffffff;
  background-color: transparent;
  background-image: url(../../../images/edit.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 0 0 16px;
  position: relative;
  bottom: 9px;
  transition: linear 0.1s;
}

.profile__edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    margin-left: 10px;
  }
}
