.header__menu {
  display: none;
  color: #fff;
  border-bottom: 1px solid #545454;
  text-align: center;
  width: 100%;
}

.header__open_menu {
  background-image: url(../../../images/menu.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: none;
  width: 24px;
  height: 19px;
  border: 0;
  background-color: transparent;
  margin: 0 30px 0 0;
  padding: 0;
  cursor: pointer;
  opacity: 1;
  transition: 0.2s opacity ease-in-out;
}

.header__open_menu:hover {
  opacity: 0.6;
}

.header__close_menu {
  background-image: url(../../../images/close.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 24px;
  height: 19px;
  border: 0;
  background-color: transparent;
  margin: 0 30px 0 0;
  padding: 0;
  cursor: pointer;
  display: none;
  opacity: 1;
  transition: 0.2s opacity ease-in-out;
}

.header__close_menu:hover {
  opacity: 0.6;
}

.header__menu_opened {
  display: flex;
  gap: 18px;
  padding: 40px;
}

@media screen and (min-width: 768px) {
  .header__menu_opened {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .header__menu {
    flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  .header__open_menu {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .header__close_menu {
    display: block;
  }
}
