.content {
  width: 100%;
  padding: 30px;
}

@media screen and (max-width: 1023px) {
  .content {
    box-sizing: border-box;
  }
}

@media screen and (max-width: 767px) {
  .content {
    padding: 0 19px;
  }
}
